body
{
	font-family: 'Roboto', sans-serif;
}

#connexion_container
{
	width: 45%;
	margin : 0 auto;
  	box-shadow: 0px 0px 31px -8px rgba(78,137,145,1);
  	border-radius: 2%;
  	margin-top: 50vh;
  	transform: translateY(-50%);
}

#form_connexion
{
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 3%;
	padding-bottom: 6%;
}

#form_connexion input
{
	margin-bottom: 5%;
	margin-top: 1%;
	width: 40%;
	font-family: 'Roboto', sans-serif;
}

#form_connexion input, #form_connexion label
{
	margin-left: 30%;
}

h1
{
	color: lightblue;
	font-size: 2em;
	text-align: center;
	padding: 4%;
}

img
{
	width: 10%;
	position: absolute;
}

button
{
	width: 30%;
	background-color: white;
	margin: 0 auto;
	border: none;
	padding: 1%;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;

}